.title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fec544;
    position: relative;
    z-index: 10;
    letter-spacing: 1px;
}

.title::before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.title::after {
    content: "";
    position: absolute;
    background-color: #fec544;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.titleContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.backTitle {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: 700;
    color: rgba(21, 27, 41, 0.5);
    margin: 0;
    margin-top: -17px;
    width: 100%;
}

.titles {
    text-align: center;
    position: relative;
    margin-top: -5px;
    margin-bottom: 41px;
}

.height {
    height: 25px;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 18px;
    }
    .backTitle {
        font-size: 60px;
    }

    .titleContainer {
        padding-left: 0;
        padding-right: 0;
    }

}