.header {
    height: 100px;
    background-color: #0a101e;
    display: flex;
    justify-content: center;
    z-index: 999;
    width: 100%;
    opacity: 0.7;
position: fixed;
}

@media screen and (max-width: 480px) {
.header{
    justify-content: center;
}
}
