.contacts {
    background-color: #0a101e;
    height: 100vh;
}

.container {
    border: 1px solid black;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}


.inputs{
    width: 40%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.inputName, .inputEmail {
    margin-bottom: 5px;
    height: 30px;
}.inputMassage {
    height: 100px;
 }

.send {
    background-color: grey;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .container {
        justify-content: space-evenly;
    }
    .inputs {
        width: 100%;
    }
}