@import "../common/styles/variebleSCSS";
@import "../common/button/Button.module";

.contacts {
  padding-top: 100px;
  background-color: $backgroundColor1;
  height: 80vh;

  .container {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 650px) {
      justify-content: space-evenly;
    }

    .inputs {
      width: 40%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 1200px) {
        width: 60%;
      }
      @media screen and (max-width: 650px) {
        width: 80%;
      }


      .inputName, .inputEmail, .inputMassage {
        background: #a9adb8;
        border: #3f4551 3px solid;
        box-sizing: border-box;
        outline: none;
        margin-bottom: 5px;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        padding: 6px;
        border-radius: 5px;

        &:-webkit-autofill {
          //border: 1px;
          -webkit-text-fill-color: #090e1b;
          -webkit-box-shadow: 0 0 0 1000px #a9adb8 inset;
          transition: background-color 5000s ease-in-out 0s;
          &:focus {
            border: #fec544 3px solid;
            //border: 1px solid transparent;
            transition: all 0.4s ease-in-out 0s;
          }
        }
        &:focus {
          border: #fec544 3px solid;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageSend {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        color: #fec544;
        text-align: center;
      }
      .errorSend {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        color: #fec544;
        text-align: center;
      }
      .error {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        color: #c60505;
        text-align: center;
      }

      .inputMassage {
        height: 100px;
      }
    }

    .send  {
    @extend .btn;
      background: #090e1b;
    align-self: center;
      margin-bottom: 150px;
  }
  }
}
