.skills {
    background-color: darkkhaki;
    min-height: 100vh;
}

.title {
    background-color: white;
}

.skillsItems {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.container {
    border: 1px solid black;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 650px) {
    .skillsItems {
        flex-direction: column;
        align-items: center;
    }
}