.main {
    background-color: #0a101e;
    height: 100vh;
}

.container {
    /*border: 1px solid black;*/
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    min-width: 300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    text-align: center;
}

.hello, .iam {
    font-size: 30px;
    margin-top: -6px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #fec544;
}

.myName {
    font-size: 80px;
    margin-bottom: 24px;
    font-weight: 900;
    color: #fdfeff;
    line-height: 1;
}

.frontDeveloper {
    font-size: 36px;
    margin-bottom: 41px;
    font-weight: 300;
    color: #a9adb8;
}

.photo {
    border-radius: 110% 11110% 10% 3px;
    width: 450px;
    height: 450px;
    border: 2px solid #fec544;
}

img {
    background: #0a101e;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .photo {
        width: 300px;
        height: 300px;
    }

    .main {
        height: 100%;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: unset;
        min-width: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .myName {
        font-size: 40px;
        margin-bottom: 14px;
        font-weight: 600;
        color: #fdfeff;
        line-height: 1;
    }
}